<!DOCTYPE html>
<html>
<head>
  <title>Policy Page</title>
</head>
<body>
  <h1>Privacy Policy</h1>
  <p>
    Politica sulla privacy per l'app Orangy

Ultimo aggiornamento: [Inserire data dell'ultimo aggiornamento]

La tua privacy è importante per noi. Pertanto, abbiamo sviluppato questa politica sulla privacy per informarti su come raccogliamo, utilizziamo e proteggiamo le informazioni nell'app Orangy ("noi" o "l'app").

Raccolta delle informazioni
L'app Orangy non raccoglie informazioni personali direttamente dagli utenti. Non richiediamo né raccogliamo volontariamente dati personali come nome, indirizzo email, data di nascita o altre informazioni di contatto.

Tuttavia, potremmo raccogliere informazioni tecniche generiche che non identificano personalmente gli utenti. Queste informazioni possono includere il tipo di dispositivo utilizzato, l'indirizzo IP, le informazioni sul browser e il sistema operativo, al fine di migliorare l'esperienza dell'utente e le funzionalità dell'app.

Utilizzo delle informazioni
Le informazioni tecniche generiche raccolte dall'app Orangy vengono utilizzate solo per scopi interni, come l'analisi dell'utilizzo dell'app, il miglioramento delle funzionalità e la risoluzione di problemi tecnici. Queste informazioni non vengono associate a un utente specifico e non consentono l'identificazione personale.

Condivisione delle informazioni
Poiché l'app Orangy non raccoglie informazioni personali, non condividiamo tali informazioni con terze parti.

Politiche per i bambini
L'app Orangy non è destinata a bambini di età inferiore a 13 anni. Non raccogliamo consapevolmente informazioni personali da bambini di età inferiore a 13 anni. Nel caso in cui ci rendessimo conto che abbiamo raccolto involontariamente informazioni personali da un bambino di età inferiore a 13 anni, prenderemo immediatamente provvedimenti per eliminare tali informazioni dai nostri sistemi.

Sicurezza delle informazioni
Non essendo raccolte informazioni personali degli utenti, non vi è bisogno di misure di sicurezza specifiche per proteggere tali informazioni. Tuttavia, adottiamo misure adeguate per proteggere i dati tecnici generici raccolti dall'app attraverso misure di sicurezza a livello di sistema.

Modifiche alla politica sulla privacy
Ci riserviamo il diritto di apportare modifiche a questa politica sulla privacy. In caso di modifiche sostanziali, forniremo un avviso all'interno dell'app o tramite altri mezzi appropriati. Ti consigliamo di controllare regolarmente la nostra politica sulla privacy per eventuali aggiornamenti.

Contattaci
Se hai domande, commenti o dubbi sulla nostra politica sulla privacy, contattaci all'indirizzo [inserire l'indirizzo email di contatto].

Grazie per aver utilizzato l'app Orangy e per la fiducia che hai riposto in noi per la tutela della tua privacy.
  </p>
</body>
</html>
